@use '../../../sass/nord' as *;

:host {
    height: 100%;
    position: relative;
    background: $nord0;
}

#log {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.btn-autoscroll {
    position: absolute;
    right: 30px;
    bottom: 30px;

    ::ng-deep .p-button {
        width: 3rem;
        height: 3rem;
        padding: 0;
    }
}
