:host {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.chart-container {
    background: white;
    color: black;

    overflow-y: auto;
    overflow-x: hidden;
    height: 800px;
    width: 100%;
}
