:host {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 20px;
}

.container {
    border-radius: 10px;
    padding: 20px;

    background: white;
    color: black;

    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
