:host {
    display: grid;
    grid-template-columns: 1fr 250px;
}

.client-stats {
    margin: 20px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;

    .client {
        margin-bottom: 20px;
        border-left: 5px solid black;
        padding-left: 10px;
    }

    h3 {
        margin: 0;
    }
}